In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
data='../data/'

In [3]:
ipsc_trans = pd.read_csv(data+'ips_tpm.csv')
ipsc_trans.head()

,Unnamed: 0,A1BG,A1CF,A2M,A2ML1,A2MP1,A3GALT2,A4GALT,A4GNT,AAAS,...,ZYX,ZZEF1,ZZZ3,bP-21201H5.1,hsa-mir-1199,hsa-mir-150,hsa-mir-6723,hsa-mir-7162,hsa-mir-8078,yR211F11.2
0,HPSI1213i-xuja_2,21.10,0.05,2.35,1.59,0.57,0.0,3.89,0.00,66.48,...,122.77,9.64,45.99,0.0,0.98,0.00,6.49,0.02,0.00,0.0
1,HPSI0614i-voce_2,7.71,0.03,1.47,4.97,0.17,0.0,18.68,0.02,60.88,...,140.62,10.98,47.45,0.0,0.81,0.03,0.97,0.00,0.09,0.0
2,HPSI0814i-doao_2,19.51,0.11,1.27,2.48,0.41,0.0,14.46,0.03,69.83,...,135.81,7.13,34.16,0.0,1.97,0.00,10.02,0.12,0.00,0.0
3,HPSI0314i-sojd_3,17.89,0.02,0.90,3.83,0.16,0.0,10.17,0.00,64.00,...,107.31,8.47,30.73,0.0,2.67,0.05,4.31,0.00,0.19,0.0
4,HPSI0114i-lexy_2,14.99,0.01,0.33,1.30,0.05,0.0,3.97,0.03,56.34,...,142.51,5.30,33.03,0.0,0.42,0.05,3.83,0.03,0.00,0.0

In [4]:
ipsc_trans.shape

(330, 35050)

In [5]:
fib_trans = pd.read_csv(data+'fib_tpm.csv.gz', compression='gzip')
fib_trans.head()

,Unnamed: 0,DDX11L1,WASH7P,MIR6859-1,MIR1302-2HG,FAM138A,OR4G4P,OR4G11P,OR4F5,RP11-34P13,...,MT-ND4,MT-TH,MT-TS2,MT-TL2,MT-ND5,MT-ND6,MT-TE,MT-CYB,MT-TT,MT-TP
0,GTEX-111VG-0008-SM-5Q5BG,0.0,1.00,0.0,0.00,0.00,0.08,0.07,0.00,0.00,...,15560.0,4.57,0.00,0.00,3557.0,4290.0,7.32,8907.0,0.00,2.78
1,GTEX-111YS-0008-SM-5Q5BH,0.0,1.25,0.0,0.00,0.00,0.06,0.06,0.06,0.03,...,12120.0,0.00,0.00,1.51,3207.0,3538.0,14.75,7247.0,0.81,0.00
2,GTEX-1122O-0008-SM-5QGR2,0.0,0.79,0.0,0.00,0.05,0.00,0.07,0.00,0.06,...,14010.0,0.95,0.00,0.92,5065.0,6243.0,26.53,7955.0,0.99,0.00
3,GTEX-1128S-0008-SM-5Q5DP,0.0,1.25,0.0,0.00,0.00,0.05,0.09,0.04,0.00,...,17170.0,0.00,0.69,0.00,5572.0,6290.0,27.66,8769.0,3.69,1.79
4,GTEX-113IC-0008-SM-5QGRF,0.0,2.44,0.0,0.07,0.00,0.07,0.00,0.00,0.03,...,14030.0,0.00,0.00,0.00,4072.0,6515.0,25.55,9704.0,1.72,0.84

In [6]:
# get most expressed genes
top_genes = pd.read_csv(data+'FIB_IPS_Top100Genes.csv')

In [7]:
top_tnames = top_genes.columns[2:22]

In [8]:
ipsc_tnames = ipsc_trans.columns
fib_tnames = fib_trans.columns
common_tnames = ipsc_tnames.intersection(fib_tnames)

In [9]:
classifier_tnames = common_tnames[1:20]
classifier_tnames

Index(['A1BG', 'A1CF', 'A2M', 'A2ML1', 'A2MP1', 'A3GALT2', 'A4GALT', 'A4GNT',
       'AAAS', 'AACS', 'AACSP1', 'AADAC', 'AADACL2', 'AADACL3', 'AADACL4',
       'AADAT', 'AAED1', 'AAGAB', 'AAK1'],
      dtype='object')

In [10]:
fib_20 = fib_trans[top_tnames]
ipsc_20 = ipsc_trans[top_tnames]

In [11]:
fib_20['label'] = 0
ipsc_20['label'] = 1
data_20 = fib_20.append(ipsc_20, ignore_index=True)
data_shuffled = data_20.sample(frac=1)

/Users/joshua.price/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/joshua.price/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
data_shuffled.shape

(430, 21)

In [13]:
data_shuffled.head()

,HES3,LIN28A,L1TD1,S100A6,DPT,VASH2,MTRNR2L11,EPCAM,IL1R1,FAP,...,FN1,COL6A3,TWIST2,LRRN1,GALNT15,TRIM71,CLEC3B,TDGF1,MTRNR2L12,label
206,81.48,872.71,256.43,19.21,0.01,87.31,62.76,406.52,0.36,0.18,...,105.3,1.37,1.46,145.72,0.06,71.19,0.11,682.10,5762.99,1
175,46.21,439.07,158.92,27.55,0.00,37.29,218.40,227.20,0.12,0.05,...,49.7,0.83,0.04,104.71,0.04,25.97,0.03,627.54,12943.60,1
198,84.30,975.44,433.37,27.14,0.00,158.29,22.88,368.17,0.78,0.04,...,85.5,2.00,1.33,182.27,0.17,153.98,0.12,800.41,2742.37,1
67,0.13,0.02,0.00,4167.00,10.73,0.13,0.00,0.06,217.70,110.80,...,14050.0,854.80,402.20,0.00,186.80,0.02,252.80,0.04,2.55,0
120,115.59,935.36,355.35,38.35,0.00,145.33,92.06,403.83,0.39,0.37,...,144.7,2.15,1.60,118.09,0.14,127.32,0.09,569.51,5446.97,1

In [14]:
train_set = data_shuffled.iloc[:287,:]
test_set = data_shuffled.iloc[287:,:]

In [15]:
X_train = train_set.iloc[:,:-1]
y_train = train_set.iloc[:,-1]

In [50]:
X_test = test_set.iloc[:,:-1]
y_test = test_set.iloc[:,-1]

In [17]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [18]:
y_probs = clf.predict_proba(X_test)

In [19]:
y_pred

array([1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1])

In [20]:
y_probs[:,0]

array([2.14976925e-10, 3.99680289e-15, 1.00000000e+00, 8.88178420e-16,
       0.00000000e+00, 1.30984112e-12, 1.30652889e-09, 1.00000000e+00,
       1.99840144e-15, 1.53747468e-07, 1.44328993e-14, 0.00000000e+00,
       3.10862447e-15, 4.06872314e-11, 1.75412795e-10, 1.48595358e-10,
       3.72733022e-09, 6.11108941e-11, 4.44089210e-16, 5.27367705e-10,
       5.17363929e-14, 6.89204249e-12, 0.00000000e+00, 1.00000000e+00,
       1.00000000e+00, 4.65540939e-11, 3.03272074e-10, 1.00000000e+00,
       7.94919686e-13, 1.00000000e+00, 6.21724894e-15, 4.44089210e-16,
       1.00000000e+00, 0.00000000e+00, 5.97291923e-08, 6.24389429e-13,
       1.52478030e-12, 2.65778510e-10, 3.81916720e-14, 1.24549260e-11,
       1.00000000e+00, 9.99999994e-01, 1.00000000e+00, 3.04867243e-13,
       2.22044605e-16, 1.55431223e-15, 2.43804976e-13, 1.51212376e-13,
       1.00000000e+00, 2.22044605e-16, 1.52744484e-12, 1.00000000e+00,
       1.00000000e+00, 0.00000000e+00, 2.71204614e-10, 8.97060204e-14,
       1.04360964e-14, 2.22044605e-16, 1.00000000e+00, 5.39568390e-14,
       1.00000000e+00, 1.77682105e-06, 1.53956847e-11, 1.75801596e-11,
       2.93642444e-10, 4.44089210e-15, 0.00000000e+00, 5.11524822e-10,
       3.04201109e-14, 9.99999999e-01, 3.96127575e-13, 0.00000000e+00,
       2.32966091e-10, 3.86313204e-12, 3.72368802e-13, 1.00000000e+00,
       2.58692158e-06, 0.00000000e+00, 2.66453526e-15, 7.33035854e-12,
       2.50349741e-10, 0.00000000e+00, 2.00440109e-10, 1.00000000e+00,
       1.00000000e+00, 6.66133815e-16, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
       8.51768527e-06, 1.00000000e+00, 1.42108547e-14, 1.57218683e-11,
       2.22044605e-16, 1.33226763e-15, 1.55431223e-15, 6.55031585e-14,
       1.00000000e+00, 1.13242749e-14, 5.87696558e-11, 4.46079640e-09,
       1.00000000e+00, 4.61588545e-11, 2.67482925e-10, 0.00000000e+00,
       1.85851334e-13, 5.99520433e-15, 8.50208792e-13, 6.66999789e-12,
       0.00000000e+00, 1.00000000e+00, 1.99840144e-15, 1.55431223e-15,
       1.00000000e+00, 1.00000000e+00, 9.35473921e-13, 3.46656037e-12,
       1.00000000e+00, 1.55031543e-12, 6.92779167e-14, 2.15383267e-14,
       1.30784272e-13, 1.00000000e+00, 9.99999991e-01, 1.00000000e+00,
       4.44089210e-16, 0.00000000e+00, 1.00000000e+00, 2.42028619e-14,
       0.00000000e+00, 1.00000000e+00, 6.28386232e-14, 3.26903615e-10,
       1.00000000e+00, 4.19648183e-09, 4.44089210e-16, 1.00000000e+00,
       2.93542968e-13, 6.82476298e-12, 1.99840144e-15])

In [21]:
# accuracy
true_list = y_test-y_pred == 0
(sum(true_list == 1))/len(true_list == 1)

1.0

In [23]:
train_set.head()

,HES3,LIN28A,L1TD1,S100A6,DPT,VASH2,MTRNR2L11,EPCAM,IL1R1,FAP,...,FN1,COL6A3,TWIST2,LRRN1,GALNT15,TRIM71,CLEC3B,TDGF1,MTRNR2L12,label
206,81.48,872.71,256.43,19.21,0.01,87.31,62.76,406.52,0.36,0.18,...,105.3,1.37,1.46,145.72,0.06,71.19,0.11,682.10,5762.99,1
175,46.21,439.07,158.92,27.55,0.00,37.29,218.40,227.20,0.12,0.05,...,49.7,0.83,0.04,104.71,0.04,25.97,0.03,627.54,12943.60,1
198,84.30,975.44,433.37,27.14,0.00,158.29,22.88,368.17,0.78,0.04,...,85.5,2.00,1.33,182.27,0.17,153.98,0.12,800.41,2742.37,1
67,0.13,0.02,0.00,4167.00,10.73,0.13,0.00,0.06,217.70,110.80,...,14050.0,854.80,402.20,0.00,186.80,0.02,252.80,0.04,2.55,0
120,115.59,935.36,355.35,38.35,0.00,145.33,92.06,403.83,0.39,0.37,...,144.7,2.15,1.60,118.09,0.14,127.32,0.09,569.51,5446.97,1

In [25]:
train_set.to_csv(data+'train_set_v1.csv')

In [26]:
test_set.to_csv(data+'test_set_v1.csv')

In [30]:
pd.Series(y_probs[:,1]).to_csv(data+'class_probs_v1.csv')

In [46]:
test_set_ipsc = test_set[test_set['label']==1]

In [53]:
test_set_ipsc_X = test_set_ipsc.iloc[:,:-1]
ipsc_probs = clf.predict_proba(test_set_ipsc_X)

In [54]:
ipsc_probs

array([[2.14976925e-10, 1.00000000e+00],
       [3.99680289e-15, 1.00000000e+00],
       [8.88178420e-16, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [1.30984112e-12, 1.00000000e+00],
       [1.30652889e-09, 9.99999999e-01],
       [1.99840144e-15, 1.00000000e+00],
       [1.53747468e-07, 9.99999846e-01],
       [1.44328993e-14, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [3.10862447e-15, 1.00000000e+00],
       [4.06872314e-11, 1.00000000e+00],
       [1.75412795e-10, 1.00000000e+00],
       [1.48595358e-10, 1.00000000e+00],
       [3.72733022e-09, 9.99999996e-01],
       [6.11108941e-11, 1.00000000e+00],
       [4.44089210e-16, 1.00000000e+00],
       [5.27367705e-10, 9.99999999e-01],
       [5.17363929e-14, 1.00000000e+00],
       [6.89204249e-12, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [4.65540939e-11, 1.00000000e+00],
       [3.03272074e-10, 1.00000000e+00],
       [7.94919686e-13, 1.00000000e+00],
       [6.21724894e-15, 1.00000000e+00],
       [4.44089210e-16, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [5.97291923e-08, 9.99999940e-01],
       [6.24389429e-13, 1.00000000e+00],
       [1.52478030e-12, 1.00000000e+00],
       [2.65778510e-10, 1.00000000e+00],
       [3.81916720e-14, 1.00000000e+00],
       [1.24549260e-11, 1.00000000e+00],
       [3.04867243e-13, 1.00000000e+00],
       [2.22044605e-16, 1.00000000e+00],
       [1.55431223e-15, 1.00000000e+00],
       [2.43804976e-13, 1.00000000e+00],
       [1.51212376e-13, 1.00000000e+00],
       [2.22044605e-16, 1.00000000e+00],
       [1.52744484e-12, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [2.71204614e-10, 1.00000000e+00],
       [8.97060204e-14, 1.00000000e+00],
       [1.04360964e-14, 1.00000000e+00],
       [2.22044605e-16, 1.00000000e+00],
       [5.39568390e-14, 1.00000000e+00],
       [1.77682105e-06, 9.99998223e-01],
       [1.53956847e-11, 1.00000000e+00],
       [1.75801596e-11, 1.00000000e+00],
       [2.93642444e-10, 1.00000000e+00],
       [4.44089210e-15, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [5.11524822e-10, 9.99999999e-01],
       [3.04201109e-14, 1.00000000e+00],
       [3.96127575e-13, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [2.32966091e-10, 1.00000000e+00],
       [3.86313204e-12, 1.00000000e+00],
       [3.72368802e-13, 1.00000000e+00],
       [2.58692158e-06, 9.99997413e-01],
       [0.00000000e+00, 1.00000000e+00],
       [2.66453526e-15, 1.00000000e+00],
       [7.33035854e-12, 1.00000000e+00],
       [2.50349741e-10, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [2.00440109e-10, 1.00000000e+00],
       [6.66133815e-16, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [8.51768527e-06, 9.99991482e-01],
       [1.42108547e-14, 1.00000000e+00],
       [1.57218683e-11, 1.00000000e+00],
       [2.22044605e-16, 1.00000000e+00],
       [1.33226763e-15, 1.00000000e+00],
       [1.55431223e-15, 1.00000000e+00],
       [6.55031585e-14, 1.00000000e+00],
       [1.13242749e-14, 1.00000000e+00],
       [5.87696558e-11, 1.00000000e+00],
       [4.46079640e-09, 9.99999996e-01],
       [4.61588545e-11, 1.00000000e+00],
       [2.67482925e-10, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [1.85851334e-13, 1.00000000e+00],
       [5.99520433e-15, 1.00000000e+00],
       [8.50208792e-13, 1.00000000e+00],
       [6.66999789e-12, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [1.99840144e-15, 1.00000000e+00],
       [1.55431223e-15, 1.00000000e+00],
       [9.35473921e-13, 1.00000000e+00],
       [3.46656037e-12, 1.00000000e+00],
       [1.55031543e-12, 1.00000000e+00],
       [6.92779167e-14, 1.00000000e+00],
       [2.15383267e-14, 1.00000000e+00],
       [1.30784272e-13, 1.00000000e+00],
       [4.44089210e-16, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [2.42028619e-14, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [6.28386232e-14, 1.00000000e+00],
       [3.26903615e-10, 1.00000000e+00],
       [4.19648183e-09, 9.99999996e-01],
       [4.44089210e-16, 1.00000000e+00],
       [2.93542968e-13, 1.00000000e+00],
       [6.82476298e-12, 1.00000000e+00],
       [1.99840144e-15, 1.00000000e+00]])

In [55]:
pd.Series(ipsc_probs[:,1]).to_csv(data+'class_probs_v1.csv')

In [68]:
probs = pd.read_csv(data+'class_probs_v1.csv',header=None)
new_row = pd.DataFrame([[0, 0.99999999999999]])
probs = probs.append(new_row)
probs['percentile'] = probs[1].rank(pct = True)
probs['percentile'].iloc[-1]

0.6388888888888888