In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [38]:
data='../data/'

In [3]:
ipsc_trans = pd.read_csv(data+'ips_tpm.csv')
ipsc_trans.head()

,Unnamed: 0,A1BG,A1CF,A2M,A2ML1,A2MP1,A3GALT2,A4GALT,A4GNT,AAAS,...,ZYX,ZZEF1,ZZZ3,bP-21201H5.1,hsa-mir-1199,hsa-mir-150,hsa-mir-6723,hsa-mir-7162,hsa-mir-8078,yR211F11.2
0,HPSI1213i-xuja_2,21.10,0.05,2.35,1.59,0.57,0.0,3.89,0.00,66.48,...,122.77,9.64,45.99,0.0,0.98,0.00,6.49,0.02,0.00,0.0
1,HPSI0614i-voce_2,7.71,0.03,1.47,4.97,0.17,0.0,18.68,0.02,60.88,...,140.62,10.98,47.45,0.0,0.81,0.03,0.97,0.00,0.09,0.0
2,HPSI0814i-doao_2,19.51,0.11,1.27,2.48,0.41,0.0,14.46,0.03,69.83,...,135.81,7.13,34.16,0.0,1.97,0.00,10.02,0.12,0.00,0.0
3,HPSI0314i-sojd_3,17.89,0.02,0.90,3.83,0.16,0.0,10.17,0.00,64.00,...,107.31,8.47,30.73,0.0,2.67,0.05,4.31,0.00,0.19,0.0
4,HPSI0114i-lexy_2,14.99,0.01,0.33,1.30,0.05,0.0,3.97,0.03,56.34,...,142.51,5.30,33.03,0.0,0.42,0.05,3.83,0.03,0.00,0.0

In [4]:
ipsc_trans.shape

(330, 35050)

In [45]:
nonipsc_trans = pd.read_csv(data+'all_tpm.csv.gz', compression='gzip')
nonipsc_trans.head()

,Unnamed: 0,DDX11L1,WASH7P,MIR6859-1,MIR1302-2HG,FAM138A,OR4G4P,OR4G11P,OR4F5,RP11-34P13,...,MT-ND4,MT-TH,MT-TS2,MT-TL2,MT-ND5,MT-ND6,MT-TE,MT-CYB,MT-TT,MT-TP
0,GTEX-1128S-0826-SM-5GZZI,0.0,3.22,0.0,0.00,0.00,0.03,0.00,0.06,0.00,...,12310.0,0.00,0.00,0.00,725.5,567.6,0.40,8222.0,0.42,0.41
1,GTEX-1128S-2526-SM-5H11N,0.0,3.77,0.0,0.00,0.05,0.07,0.00,0.06,0.00,...,11890.0,0.00,0.00,0.00,2127.0,2647.0,10.98,13170.0,0.88,1.71
2,GTEX-11DXY-0011-R5b-SM-DNZZL,0.0,2.67,0.0,0.00,0.00,0.06,0.00,0.06,0.01,...,41490.0,5.75,2.24,4.84,8638.0,7295.0,19.17,34300.0,3.21,1.17
3,GTEX-11DXY-0011-R6a-SM-DNZZF,0.0,1.95,0.0,0.02,0.00,0.05,0.18,0.05,0.03,...,40900.0,4.04,3.27,4.22,8688.0,7381.0,18.94,35900.0,1.30,2.84
4,GTEX-11DXY-0826-SM-5EGGR,0.0,0.48,0.0,0.02,0.00,0.15,0.15,0.20,0.00,...,99030.0,6.20,4.49,5.74,13010.0,12520.0,21.26,73660.0,2.78,18.27

In [46]:
nonipsc_trans.shape

(371, 56201)

In [6]:
# get most expressed tfs
top_genes = pd.read_csv(data+'top20tf_ens.csv')

In [7]:
top_genes.head()

  Gene name   Gene stable ID
0     HMGA1  ENSG00000137309
1    LIN28A  ENSG00000131914
2     TERF1  ENSG00000147601
3     ZFP42  ENSG00000179059
4   ZSCAN10  ENSG00000130182

In [8]:
top_tnames = top_genes['Gene name'].tolist()
top_tnames

['HMGA1',
 'LIN28A',
 'TERF1',
 'ZFP42',
 'ZSCAN10',
 'HMGA2',
 'SALL4',
 'OTX2',
 'ETV4',
 'NR6A1',
 'LIN28B',
 'HES3',
 'ZIC3',
 'NANOG',
 'ZNF93',
 'FOXH1',
 'MYCN',
 'ZNF730',
 'PRDM14',
 'SOX11']

In [67]:
nonipsc_20 = nonipsc_trans[top_tnames]
ipsc_20 = ipsc_trans[top_tnames]

In [70]:
nonipsc_20.head()

,HMGA1,LIN28A,TERF1,ZFP42,ZSCAN10,HMGA2,SALL4,OTX2,ETV4,NR6A1,...,HES3,ZIC3,NANOG,ZNF93,FOXH1,MYCN,ZNF730,PRDM14,SOX11,label
0,15.89,0.00,4.71,0.00,0.01,0.08,2.36,0.02,3.63,2.36,...,0.00,0.00,0.01,0.68,0.10,0.00,0.04,0.01,0.00,0
1,22.09,0.00,19.36,0.00,0.04,0.29,0.08,0.00,0.66,0.27,...,0.00,0.00,0.01,0.60,0.07,0.13,0.04,0.00,0.11,0
2,41.39,0.02,14.12,0.00,0.05,0.00,0.20,0.08,0.41,1.59,...,0.00,1.55,0.01,1.80,0.36,1.66,0.10,0.00,1.36,0
3,51.67,0.03,12.32,0.01,0.07,0.01,0.20,0.08,0.23,1.40,...,0.03,0.48,0.01,0.86,0.28,1.92,0.12,0.00,2.10,0
4,2.84,0.01,1.01,0.00,0.00,0.00,0.04,0.00,1.13,0.26,...,0.00,0.01,0.00,0.11,0.00,0.13,0.01,0.00,0.12,0

In [75]:
nonipsc_20['label'] = 0
ipsc_20['label'] = 1
data_20 = nonipsc_20.append(ipsc_20, ignore_index=True)
data_shuffled = data_20.sample(frac=1)

/Users/joshua.price/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/joshua.price/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [76]:
data_shuffled.shape

(701, 21)

In [77]:
train_test_cutoff = int(data_shuffled.shape[0]/5)

In [78]:
train_test_cutoff

140

In [79]:
data_shuffled.head()

,HMGA1,LIN28A,TERF1,ZFP42,ZSCAN10,HMGA2,SALL4,OTX2,ETV4,NR6A1,...,HES3,ZIC3,NANOG,ZNF93,FOXH1,MYCN,ZNF730,PRDM14,SOX11,label
564,1787.58,890.74,895.24,134.93,114.83,99.69,88.15,60.13,83.40,72.58,...,71.44,153.30,75.56,53.26,67.52,58.93,30.61,45.80,25.98,1
164,21.14,0.06,21.98,0.00,0.04,0.12,0.69,0.00,3.79,2.58,...,0.00,0.02,0.04,7.92,0.37,0.39,1.13,0.00,0.00,0
23,57.65,0.01,26.04,0.00,0.51,0.00,1.25,19.99,0.74,3.88,...,0.18,24.81,0.00,0.99,0.71,2.00,0.07,0.00,0.23,0
170,33.45,0.00,12.00,0.00,0.02,0.01,0.10,0.02,1.42,1.65,...,0.08,0.87,0.05,0.68,0.50,3.13,0.18,0.00,2.52,0
547,1571.65,654.70,700.15,115.96,153.36,125.43,66.66,8.87,178.51,55.95,...,49.42,51.41,271.87,72.10,74.58,37.23,56.73,24.91,38.04,1

In [100]:
test_set = data_shuffled.iloc[:train_test_cutoff,:]
train_set = data_shuffled.iloc[train_test_cutoff:,:]

In [101]:
X_train = train_set.iloc[:,:-1]
y_train = train_set.iloc[:,-1]

In [102]:
X_test = test_set.iloc[:,:-1]
y_test = test_set.iloc[:,-1]

In [103]:
y_train.value_counts()

0    291
1    270
Name: label, dtype: int64

In [104]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [105]:
y_probs = clf.predict_proba(X_test)

In [106]:
y_pred

array([1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 0])

In [107]:
y_probs[:,0]

array([0.00000000e+00, 9.99999915e-01, 9.99999868e-01, 9.99999922e-01,
       1.78967952e-13, 0.00000000e+00, 9.99999920e-01, 3.27293748e-13,
       9.99999916e-01, 0.00000000e+00, 1.99840144e-15, 6.66133815e-16,
       9.99999920e-01, 0.00000000e+00, 9.99999918e-01, 9.99999934e-01,
       8.11106737e-11, 1.32183442e-09, 9.99999929e-01, 9.99999810e-01,
       9.99999714e-01, 9.99999920e-01, 2.16582225e-08, 5.32907052e-15,
       0.00000000e+00, 2.30304664e-12, 5.24025268e-14, 9.99999776e-01,
       9.99999937e-01, 9.99999842e-01, 5.10245983e-02, 9.99999851e-01,
       9.99999912e-01, 0.00000000e+00, 9.99999911e-01, 9.99999875e-01,
       8.88178420e-16, 9.99999916e-01, 1.67976744e-12, 9.99999921e-01,
       9.99999908e-01, 0.00000000e+00, 9.99999908e-01, 9.99999934e-01,
       9.99999779e-01, 7.23288096e-12, 9.99999922e-01, 9.99999642e-01,
       9.99999907e-01, 9.99999842e-01, 9.99999935e-01, 9.99999916e-01,
       9.99999920e-01, 9.99999917e-01, 4.86277685e-14, 8.64752714e-12,
       0.00000000e+00, 0.00000000e+00, 3.57573970e-11, 9.99999919e-01,
       2.22044605e-16, 2.42028619e-14, 9.99999913e-01, 9.99999933e-01,
       9.99999936e-01, 9.99999928e-01, 9.99999920e-01, 0.00000000e+00,
       4.44089210e-16, 9.99999930e-01, 0.00000000e+00, 0.00000000e+00,
       7.36058164e-08, 2.24265051e-14, 9.99999941e-01, 2.16711094e-10,
       9.99999923e-01, 9.99999887e-01, 9.99999916e-01, 9.99999918e-01,
       9.99999916e-01, 1.57651669e-14, 4.44089210e-16, 0.00000000e+00,
       9.99999924e-01, 9.99999927e-01, 9.99999932e-01, 9.99998974e-01,
       8.43769499e-14, 9.99999925e-01, 0.00000000e+00, 9.99999918e-01,
       9.99999922e-01, 9.99999908e-01, 9.99999921e-01, 0.00000000e+00,
       9.99999935e-01, 9.99999934e-01, 2.24265051e-14, 5.97892846e-11,
       9.86616753e-08, 4.48086013e-13, 9.99999924e-01, 9.99999923e-01,
       9.99999925e-01, 9.99999920e-01, 0.00000000e+00, 0.00000000e+00,
       9.99999907e-01, 3.10862447e-15, 9.99994233e-01, 0.00000000e+00,
       0.00000000e+00, 9.99999922e-01, 2.22044605e-16, 2.66453526e-15,
       9.99999906e-01, 0.00000000e+00, 4.58344473e-12, 5.92859095e-14,
       9.99999916e-01, 9.99999529e-01, 9.99999902e-01, 0.00000000e+00,
       9.99999898e-01, 9.99999896e-01, 9.99999907e-01, 9.99999923e-01,
       9.99999913e-01, 9.99999911e-01, 0.00000000e+00, 1.41109346e-12,
       0.00000000e+00, 9.99999916e-01, 6.92739656e-08, 9.99999912e-01,
       9.99999883e-01, 9.99999821e-01, 9.99999932e-01, 9.99999922e-01])

In [108]:
# accuracy
true_list = y_test-y_pred == 0
(sum(true_list == 1))/len(true_list == 1)

1.0

In [109]:
train_set.head()

,HMGA1,LIN28A,TERF1,ZFP42,ZSCAN10,HMGA2,SALL4,OTX2,ETV4,NR6A1,...,HES3,ZIC3,NANOG,ZNF93,FOXH1,MYCN,ZNF730,PRDM14,SOX11,label
329,31.36,0.02,14.18,0.00,0.10,0.00,0.48,0.03,0.18,0.37,...,0.00,0.00,0.03,0.62,0.12,0.97,0.08,0.02,0.00,0
592,1624.05,1008.20,729.64,118.79,116.11,95.39,128.36,132.75,67.31,78.11,...,97.32,139.93,66.73,60.65,69.85,70.15,45.27,69.99,37.06,1
508,1471.55,573.96,469.99,37.32,97.57,110.61,74.76,71.74,114.35,103.14,...,50.09,36.94,70.25,61.53,47.04,43.92,38.86,37.29,27.46,1
595,1651.57,1025.31,627.52,131.66,102.67,148.58,114.30,195.20,54.38,87.71,...,126.14,137.76,36.91,73.50,55.89,61.96,51.64,37.16,57.59,1
495,2061.61,959.97,425.44,148.30,181.49,84.47,98.26,61.09,113.10,145.31,...,38.65,32.10,108.86,79.09,65.51,68.58,30.22,27.35,20.28,1

In [110]:
app_data = '../app/data/'

In [111]:
train_set.to_csv(app_data+'train_set_v2.csv')

In [112]:
test_set.to_csv(app_data+'test_set_v2.csv')

In [114]:
test_set_ipsc = test_set[test_set['label']==1]

In [115]:
test_set_ipsc_X = test_set_ipsc.iloc[:,:-1]
ipsc_probs = clf.predict_proba(test_set_ipsc_X)

In [116]:
ipsc_probs

array([[0.00000000e+00, 1.00000000e+00],
       [1.78967952e-13, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [3.27293748e-13, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [1.99840144e-15, 1.00000000e+00],
       [6.66133815e-16, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [8.11106737e-11, 1.00000000e+00],
       [1.32183442e-09, 9.99999999e-01],
       [2.16582225e-08, 9.99999978e-01],
       [5.32907052e-15, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [2.30304664e-12, 1.00000000e+00],
       [5.24025268e-14, 1.00000000e+00],
       [5.10245983e-02, 9.48975402e-01],
       [0.00000000e+00, 1.00000000e+00],
       [8.88178420e-16, 1.00000000e+00],
       [1.67976744e-12, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [7.23288096e-12, 1.00000000e+00],
       [4.86277685e-14, 1.00000000e+00],
       [8.64752714e-12, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [3.57573970e-11, 1.00000000e+00],
       [2.22044605e-16, 1.00000000e+00],
       [2.42028619e-14, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [4.44089210e-16, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [7.36058164e-08, 9.99999926e-01],
       [2.24265051e-14, 1.00000000e+00],
       [2.16711094e-10, 1.00000000e+00],
       [1.57651669e-14, 1.00000000e+00],
       [4.44089210e-16, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [8.43769499e-14, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [2.24265051e-14, 1.00000000e+00],
       [5.97892846e-11, 1.00000000e+00],
       [9.86616753e-08, 9.99999901e-01],
       [4.48086013e-13, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [3.10862447e-15, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [2.22044605e-16, 1.00000000e+00],
       [2.66453526e-15, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [4.58344473e-12, 1.00000000e+00],
       [5.92859095e-14, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [1.41109346e-12, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [6.92739656e-08, 9.99999931e-01]])

In [117]:
pd.Series(ipsc_probs[:,1]).to_csv(app_data+'class_probs_v2.csv')

In [118]:
probs = pd.read_csv(app_data+'class_probs_v2.csv',header=None)
new_row = pd.DataFrame([[0, 0.99999999999999]])
probs = probs.append(new_row)
probs['percentile'] = probs[1].rank(pct = True)
probs['percentile'].iloc[-1]

0.45901639344262296